/* login */

position: relative;
width: 1728px;
height: 1117px;
left: 100px;
top: 100px;

background: #121212;


/* Frame 75 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 561px;
height: 866px;
left: calc(50% - 561px/2 - 0.5px);
top: calc(50% - 866px/2 - 0.5px);



/* Frame 95 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 36px;

width: 561px;
height: 554.54px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 96 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 561px;
height: 168.54px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Group 4 */

width: 64px;
height: 65.54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 61.84px;
height: 65.54px;
left: 0px;
top: 0px;

border-radius: 9.90203px;


/* Rectangle 12 */

position: absolute;
width: 41.76px;
height: 9.5px;
left: 34.47px;
top: 14.68px;

background: linear-gradient(180deg, #EBEBEB 0%, #858585 100%);
transform: rotate(45deg);


/* Rectangle 13 */

position: absolute;
width: 39.24px;
height: 9.5px;
left: 27.75px;
top: 54.33px;

background: linear-gradient(180deg, #EBEBEB 0%, #858585 100%);
transform: rotate(-135deg);


/* Log Into Supaclass */

width: 329px;
height: 44px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #F2F2F2;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Don’t have an account? Create an account */

display: none;
width: 324px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #9A9A9A;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Don’t have an account? Create an account */

width: 561px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #9A9A9A;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 93 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 28px;

width: 561px;
height: 130px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 48095896 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 561px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 73 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 10px;

width: 561px;
height: 51px;

border: 2px solid #494949;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Email Address */

width: 109px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #9A9A9A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 75 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 10px;

display: none;
width: 561px;
height: 51px;

border: 2px solid #494949;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Password */

width: 75px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #9A9A9A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Forgot your password? */

display: none;
width: 561px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #EAEAEA;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 48095895 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 561px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 74 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

width: 561px;
height: 51px;

background: #AEAEAE;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Log in */

width: 47px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 76 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

display: none;
width: 561px;
height: 51px;

background: #363636;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Log in with code */

width: 126px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #191919;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 94 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

width: 561px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Line 2 */

width: 252.5px;
height: 0px;

border: 1px solid #4F4F4F;
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* or */

width: 16px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: -0.02em;

color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 252.5px;
height: 0px;

border: 1px solid #4F4F4F;
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 48095897 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 561px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 74 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

width: 274.5px;
height: 51px;

border: 1px solid #494949;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* google */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 50.9%;
right: 6.24%;
top: 42.03%;
bottom: 16.85%;

background: #4285F4;


/* Vector */

position: absolute;
left: 11.01%;
right: 19.54%;
top: 58.65%;
bottom: 6.25%;

background: #34A853;


/* Vector */

position: absolute;
left: 6.25%;
right: 74.5%;
top: 30.15%;
bottom: 30.36%;

background: #FBBC05;


/* Vector */

position: absolute;
left: 11.01%;
right: 19.24%;
top: 6.25%;
bottom: 58.65%;

background: #EB4335;


/* Continue with Google */

width: 166px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #AEAEAE;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 76 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

width: 274.5px;
height: 51px;

border: 1px solid #494949;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Apple */

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0.28%;
top: 0%;
bottom: 0%;

background: #FBFBFB;


/* Continue with Apple */

width: 156px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #AEAEAE;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 48095898 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

display: none;
width: 561px;
height: 0px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Line 2 */

width: 561px;
height: 0px;

border: 1px solid #393939;
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 97 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

display: none;
width: 561px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Terms of use */

width: 120px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: -0.02em;

color: #B4B4B4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 1 */

width: 31px;
height: 0px;

border: 1px solid #B4B4B4;
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Privacy Policy */

width: 128px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: -0.02em;

color: #B4B4B4;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* By signing up to Supaclass, you acknowledge that you have read and agree to Terms and Privacy Policy. */

width: 561px;
height: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */

color: #9A9A9A;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
